/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap') * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  color: white;
  font-family: Gilroy, serif !important;
}

a {
  /* color: #2199df; */
  text-decoration: unset;
  color: white;
}

a:link {
  text-decoration: none;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

body {
  /* font-family: 'Roboto'; */
  line-height: 1.5;
  /* font-family: Gilroy, serif; */
  outline: none;
  word-wrap: break-word;
  font-weight: 400;
  width: 100%;
  height: 100%;

  background-image: url('../image/court.jpg');

  transition: 300ms ease-in 200ms;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button,
input[input='submit'] {
  border: none;
  background: none;
  color: unset;
  color: unset;
  cursor: pointer;
}

h1,
ul {
  margin: 1em 0;
}

.header {
  /* background-color: #83c5be; */
  /* flex-grow: 1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#header .title {
  margin: 0;
  color: #ffffff;
  padding: 0 1rem;
  text-decoration: none;
}
#header .auth-options {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .auth-options button {
  /* background-color: #67a19c; */
  padding: 0 1rem;
  color: white;
  font-size: 1.1rem;
  /* border-color: #ccf1ee; */
}

/* #header .auth-options button:hover {
  background-color: #83c5be;
} */

#header .matchtitle {
  height: 100%;
  display: flex;
  color: white;
  font-size: 1.1rem;
  border-color: #ccf1ee;
  padding: 0 1rem;
}

/* header.appbar-header {
  background-color: #83c5be;
} */
.container-home {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1204px;
  text-align: center;
  color: white;
}

.small-container {
  position: relative;
  z-index: 1;
  /* max-width: 749px; */
  /* width: 60em; */
  padding-left: 0;
  padding-right: 0;
  /* margin-left: auto;
  margin-right: auto; */
  /* text-align: center; */
}

.larger-statement {
  /* font-size: 2.25em; */
  margin-bottom: 16px;
  font-size: 3em;

  /* display: block; */
  /* margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: bold;
}
.medium-statement {
  font-size: 2em;
  font-weight: bold;
}

.new-user-form {
  width: 70%;
  justify-content: flex-end;
}
.register-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.ranking-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.rank-title {
  text-align: center;
}
.button-submit-record {
  margin-left: auto;
  margin-right: auto;
}

/* .record-match {
  width: 70%;

  margin-left: auto;
  margin-right: auto;
} */

.schedule-form {
  width: 50%;

  margin-left: auto;
  margin-right: auto;
}
/* .small-statement {
  font-weight: bold;
} */
/* MATCH COMPONENT */

/* .match {
  background-color: #315e47;

  padding: 1em 0;
  margin: 0.5rem;

  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.match-details {
  background-color: rgb(145, 197, 180);
} */
